<!-- 7/25/2019 -->
{% extends "layout.html" %}

{% block content %}
    <div>
        <form method = "POST" action = "">
            <!-- Implements the CSRF protection -->
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Add a Fortune</legend>
                <div>
                    {{ form.fortune.label() }}
                    {{ form.fortune() }}

                    {% if form.fortune.errors %}
                        <div>
                            {% for error in form.fortune.errors %}
                                <small><span style="color: red;">{{ error }}</span></small>
                            {% endfor%}
                        </div>
                    {% endif %}
                </div>
            </fieldset>
            <br>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
    <br>
{% endblock content %}
